<!-- استخدام القالب في كل الكومبونت الموجودة في المشوع  -->
<h1 class="text-center" style="color: chocolate;">
  Task Fourth apply Custom Template
</h1>
<!-- هنا نقوم بتحديد طريقة العرض للقالب الجديد  -->
<ng-template #customTemplate let-item>
  <!-- هنا مثلا اضفنا زر بدل من القيمة النصية في خلاية الجدول  -->
  <button routerLink="/" routerLinkActive="router-link-active">
    <b>{{ item }}</b>
  </button>
</ng-template>
<!-- هنا قمنا باستخدام القالب الجديد في  الكومبونت في الرابع لهذا المشروع -->
<lib-table-fourth [customTemplate]="customTemplate"></lib-table-fourth>
